<!DOCTYPE html>
<html>
    <head>
        <title>Sointu - a modular synthesizer for small intros</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="sointu_client.js"></script>
        <script src="synth.js"></script> 
        <script src="gui.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/sortablejs@1.4.2"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> 
    </head>
    <body class="container-fluid"><div id="app">
        <h1>Sointu</h1>
        <draggable v-model="myArray" group="people" @start="drag=true" @end="drag=false">
          <div v-for="element in myArray" :key="element.id">{{element.name}}</div>
        </draggable>
    </div></body>
</html>